<% if @professions %>
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @professions.name %></td>
        <td><%= @professions.place %></td>
        <td><%= @professions.person_id %></td>
      </tr>
  </tbody>
</table>
<% end %>
