$('div#ajax_load').html('<p>Procurando, aguarde...</p>')
$('div#ajax_load').html('<%= escape_javascript(render %"tab_professions") %>')
$('#ajax_load').css({'background-color':'#009933'}).animate({'background-color':'#00CC33'},1000);
